# Visual Studio user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
Wasalnyy.BLL/bin/
Wasalnyy.BLL/obj/
Wasalnyy.DAL/bin/
Wasalnyy.DAL/obj/
Wasalnyy.PL/bin/
Wasalnyy.PL/obj/
Wasalnyy.DAL/Migrations/

# General bin/obj
**/bin/
**/obj/
**/Debug/
**/Release/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs and temp files
*.log
*.tlog
*.tmp

# Rider / VS Code
.idea/
.vscode/

# Publish output
publish/
*.pubxml
*.Publish.xml

# Misc
*.dbmdl
*.bak
*.Cache/
*.config.user

Wasalnyy.PL/appsettings.json